---
interface Props {
	placeholder: string;
}

const { placeholder } = Astro.props;
---

<div class="button">
	<p>
		{placeholder}
	<p>
</div>
<style>
	.button {
		padding: 10px;
		padding-left: 28px;
		padding-right: 28px;
		border-radius: 10px;
		border-width: 2px;
		border-style: solid;
		width: fit-content;
	}
	p {
		font-size: 16px;
		font-weight: bold;
		margin: 0;
	}
	.button:is(:hover, :focus-within) {
		background-color: white;
	}
	.button:is(:hover, :focus-within) p {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
