---
import Container from "@components/containers/container.astro";
import FullWidth from "@components/containers/fullwidth.astro";
import Navigation from "@components/navigation.astro";
import PersonGallery from "@components/person/gallery.astro";
import VirtueGallery from "@components/virtue/gallery.astro";
import Html from "@layouts/html.astro";
---

<Html>
  <Navigation />
  <Container class="mb-12">
    <h1 class="text-4xl text-center md:text-justify mb-8">Overview</h1>
    <section class="px-8 md:px-20">
      <p class="text-lg mb-8">
        Affecture was founded in September of 2023 by André (CEO), Andreas (CXO), and Marius (CTO).
      </p>
      <p class="text-lg mb-8">
        The majority of the companies activity happen in Copenhagen.
      </p>
    </section>
  </Container>
  <FullWidth class="bg-gradient-to-br from-purple to-pink" id="about">
    <Container class="py-8">
      <h1 class="text-4xl text-center md:text-justify mb-12">Meet our team</h1>
      <PersonGallery />
    </Container>
    <Container class="py-8">
      <p class="text-lg mb-8">
        Besides the founders, Affecture's team is filled with student workers and interns from fields like cognitive science.
      </p>
    </Container>
  </FullWidth>
  <Container class="mb-12 py-8">
    <h1 class="text-4xl text-center md:text-justify mb-8">Our purpose</h1>
    <section class="px-8 md:px-20">
      <p class="text-lg mb-8">
        Affecture aims to help game studios in understanding player experience and improve their product.
      </p>
      <p class="text-lg mb-8">
        We make this possible with our multimodal physiological data analysis toolkit.
      </p>
    </section>
  </Container>
  <Container class="mb-12 py-8">
    <h1 class="text-4xl text-center md:text-justify mb-8">Our virtues</h1>
    <VirtueGallery />
  </Container>
</Html>
