---
import Container from "@components/containers/container.astro";
import Fullscreen from "@components/containers/fullscreen.astro";
import Navigation from "@components/navigation.astro";
import Html from "@layouts/html.astro";
import config from "@config";
---

<Html>
  <script
    slot="htmlHead"
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
  ></script>
  <Navigation />
  <Fullscreen
    class="flex flex-col md:flex-row p-2 md:p-8 justify-around align-middle"
  >
    <Container class="basis-1/5">
      <p [text-wrap:balance]>
        Give us some basic information about yourself and we'll contact you at
        the next available time!
      </p>
    </Container>
    <Container class="basis-3/5">
      <form id="contact-form" data-publickey={config.contact.emailjs.publicKey} data-template={config.contact.emailjs.formTemplate}>
        <section class="grid sm:grid-cols-2 gap-2 mb-4">
          <section class="flex flex-col gap-2 justify-start">
            <label for="firstName" class="block md:hidden text-xs"
              >First name:</label
            >
            <input
              id="firstName"
              placeholder="First name"
              required
              name="firstName"
              type="text"
              class="text-purple"
            />

            <label for="otherNames" class="block md:hidden text-xs"
              >Middle and Last names:</label
            >
            <input
              id="otherNames"
              placeholder="Middle and Last names"
              name="otherNames"
              type="text"
              class="text-purple"
            />

            <label for="jobTitle" class="block md:hidden text-xs"
              >Job title:</label
            >
            <input
              id="jobTitle"
              placeholder="Job title"
              name="jobTitle"
              type="text"
              class="text-purple"
            />

            <label for="companyName" class="block md:hidden text-xs"
              >Company name:</label
            >
            <input
              id="companyName"
              placeholder="Company name"
              name="companyName"
              type="text"
              class="text-purple"
            />
          </section>
          <section class="flex flex-col gap-2 justify-start">
            <label for="email" class="block md:hidden text-xs"
              >E-mail address:</label
            >
            <input
              id="email"
              placeholder="E-mail address"
              required
              name="email"
              type="email"
              class="text-purple"
            />

            <label for="phone" class="block md:hidden text-xs"
              >Phone number:</label
            >
            <input
              id="phone"
              placeholder="Phone number"
              name="phone"
              type="email"
              class="text-purple"
            />

            <label for="message" class="block md:hidden text-xs">Message:</label
            >
            <textarea id="message" placeholder="Message" name="message" rows="3"
            class="text-purple"
            ></textarea>
          </section>
        </section>
        <button type="submit" class="bg-purple w-full p-2">Send</button>
        <input type="hidden" name="contact_number">
      </form>
      <script type="text/javascript">
        window.onload = function() {
            const form = document.getElementById('contact-form');
            // Setup hooks for sending manually
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                // generate a five digit number for the contact_number variable
                this.contact_number.value = Math.random() * 100000 | 0;
                // these IDs from the previous steps
                emailjs.sendForm('default_service', form.dataset.template, '#contact-form', form.dataset.publickey)
                    .then(function() {
                        console.log('Email sent succesfully!');
                    }, function(error) {
                        console.log('Email failed to send...', error);
                    });
            });
        }
    </script>
    </Container>
  </Fullscreen>
</Html>
