---
import Navigation from "@components/navigation.astro";
import Html from "@layouts/html.astro";
---

<Html>
  <Navigation />
  <p class="text-3xl mb-8">
    Ex veniam tempor labore duis do reprehenderit Lorem culpa anim et dolor do.
    Fugiat mollit qui proident sit id voluptate aliqua excepteur dolore sint.
    Quis adipisicing ut do ad proident laborum. Id do et commodo reprehenderit
    ea minim sunt enim elit aute occaecat.
  </p>

  <p class="text-3xl mb-8">
    Sit dolore consectetur laborum Lorem aliquip adipisicing do qui officia ex
    sint exercitation velit. Proident voluptate id et qui commodo velit. Sit
    dolore aliqua adipisicing quis labore pariatur consectetur fugiat non.
    Commodo exercitation enim cupidatat nisi eu dolore reprehenderit mollit ad
    et culpa. Sint in anim aliquip in ullamco cillum laboris anim Lorem veniam
    voluptate.
  </p>

  <p class="text-3xl mb-8">
    Veniam irure Lorem enim deserunt. Dolor adipisicing elit enim laboris culpa
    ipsum sint ex do ut in aliqua. Irure sunt amet ut ullamco velit. Dolore
    nulla ea ea qui ex est in est deserunt. Ipsum est velit incididunt eiusmod.
    Enim laboris et sit exercitation magna reprehenderit laborum duis. Nostrud
    Lorem adipisicing fugiat Lorem nulla esse.
  </p>

  <p class="text-3xl mb-8">
    Quis duis laborum amet exercitation veniam laborum excepteur excepteur
    cupidatat ullamco occaecat nostrud nostrud dolor. Duis est ad aute excepteur
    est et. Anim anim irure elit ex commodo et. Ipsum excepteur commodo nulla
    sunt esse sunt sunt consectetur.
  </p>

  <p class="text-3xl mb-8">
    Consequat deserunt incididunt adipisicing officia nostrud. Laboris aute
    minim fugiat amet nostrud labore veniam ex laboris. Do minim est aliquip
    cillum. Dolore aute anim consectetur do elit ipsum veniam culpa aliquip
    cupidatat nostrud deserunt duis.
  </p>

  <p class="text-3xl mb-8">
    Eu fugiat laborum non nisi sit esse. Dolor aute nostrud aute sit dolore
    proident sint magna. Duis ea nulla proident consequat elit eu.
  </p>
</Html>
