---
import Container from "@components/containers/container.astro";
import FullScreen from "@components/containers/fullscreen.astro";
import FullWidth from "@components/containers/fullwidth.astro";
import Navigation from "@components/navigation.astro";
import FeatureGallery from "@components/feature/gallery.astro";
import HighlightText from "@components/typography/highlight.astro";
import Html from "@layouts/html.astro";
import Contact from "@components/contact.astro";
import OfferingGallery from "@components/offering/gallery.astro";
---

<Html>
  <Navigation />
  <FullScreen
    class="mt-12 min-h-fit md:max-h-[80vh] md:min-h-[30vh] p-2 py-20 md:p-36 text-center flex flex-col gap-12 justify-center"
  >
    <p class="max-w-3xl mx-auto text-5xl [text-wrap:balance] leading-relaxed">
      This website is under <HighlightText>construction</HighlightText>
    </p>
    <p class="max-w-3xl mx-auto text-2xl [text-wrap:balance] leading-relaxed">
      While we build it, feel free to check our LinkedIn or email us at
      andreashoumolle@icloud.com
    </p>
  </FullScreen>
  <Container id="features" class="mb-12">
    <h1 class="text-4xl text-center md:text-justify mb-8">What we do</h1>
    <section class="px-8 md:px-20">
      <p class="text-lg mb-8">
        Affecture translates physiological data into actionable insights for
        games user researchers. We are building software that uncovers invisible
        and unconscious reactions, automatically generating a quantitative
        emotional and cognitive description of the user experience.
      </p>
      <p class="text-lg mb-8">
        Our novel technology helps user researchers to collect and understand
        biometric data efficiently, contextualize it, and communicate findings,
        improving the effectiveness of user research
      </p>
    </section>
    <FeatureGallery />
  </Container>
  <FullWidth class="bg-gradient-to-br from-purple to-pink py-8 md:py-12">
    <Container class="py-8">
      <h1 class="text-4xl text-center [text-wrap:balance] mb-12">
        We want to help you. And we are flexible in doing it.
      </h1>
    </Container>
  </FullWidth>
  <Container id="features" class="mb-12 py-4">
    <section class="px-8 md:px-20">
      <p class="text-lg mb-8">
        After the goals and audience are defined, you have three options to
        continue:
      </p>
    </section>
    <OfferingGallery />
  </Container>
  <FullWidth id="contact" class="min-h-[30vh]">
    <Container class="py-8">
      <h1 class="text-4xl text-center">Get in touch</h1>
      <h2 class="text-2xl text-center">
        Want to <HighlightText>know more</HighlightText> or <HighlightText>
          order our services
        </HighlightText>?
      </h2>
      <section class="py-12 px-8 md:px-20 text-center">
        <Contact />
      </section>
    </Container>
  </FullWidth>
</Html>
