---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";
import { getImage } from "astro:assets";
import MovingGradient from "../components/gradient";
import headerImage from "../assets/affecture[blankBackgroug].png";
import learnImage from "../assets/pitchPhoto.jpg";
import Layout from "../layouts/Layout.astro";
import BasicCard from "../components/cards/CardBasic.astro";
import CardTestamonials from "../components/cards/CardTestamonials.astro";
import CardLargeIcon from "../components/cards/CardLargeIcon.astro";
import CardNoIcon from "../components/cards/CardNoIcon.astro";
import CardPlainIcon from "../components/cards/CardPlainIcon.astro";
import PlayPopUp from "../components/contact/playPopUp.astro";
import ContactPopUp from "../components/contact/contactPopUp.astro";
import Nav from "../components/navigation.astro";
import Footer from "../components/footer.astro";
import Button from "../components/buttons/emptyButton.astro";
import DarkButton from "../components/buttons/DarkButton.astro";
import bgImage from "../assets/background.png";
const optimizedBg = await getImage({ src: bgImage, format: "webp" });
---

<Layout title="Affecture">
  <div id="contact-container">
    <ContactPopUp />
  </div>
  <main>
    <div
      style="width: 100%; position: fixed; margin: 0px; padding: 0px; top: 0px; z-index:1;"
    >
      <Nav />
    </div>
    <div class="hero">
      <div
        style="pointer-events: none; position: fixed; z-index: -1; top: 0; width: 100%; height: 100vh; background-image: url(${optimizedBg.src});"
      >
        <MovingGradient client:visible />
      </div>
      <div id="heroContent">
        <svg
          class="mod-opacity hero-item"
          width="180"
          height="35"
          viewBox="0 0 224 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_280_1627)">
            <path
              d="M26.5804 23.1086C26.5804 23.2093 26.5804 23.31 26.5804 23.4107V23.5044C26.5804 23.5699 26.5804 23.6355 26.5804 23.7011C26.5815 23.7112 26.5815 23.7214 26.5804 23.7315C26.5804 23.769 26.5804 23.8065 26.5804 23.8439C26.5816 23.8619 26.5816 23.8799 26.5804 23.8978C26.5816 23.9071 26.5816 23.9166 26.5804 23.9259C26.5804 24.0102 26.5804 24.0898 26.5647 24.1718V24.1905C26.5637 24.21 26.5637 24.2296 26.5647 24.2491L26.5511 24.4434C26.5494 24.4479 26.5494 24.453 26.5511 24.4575C26.5511 24.5605 26.5309 24.6636 26.5174 24.7689V24.783C26.4814 25.0851 26.4386 25.3872 26.3823 25.6869C25.9849 27.846 25.0956 29.8745 23.7888 31.6021C22.482 33.3298 20.796 34.7063 18.8721 35.616L18.7325 35.6792H18.7123C17.4068 36.2804 16.0148 36.653 14.5925 36.7822H14.57C14.4934 36.7822 14.4146 36.7963 14.3448 36.801H14.2345H14.0477H13.8766H13.7347H13.0841H12.9423H12.7712H12.5821H12.474C12.3975 36.801 12.3187 36.801 12.2489 36.7822H12.2264C10.8041 36.653 9.41212 36.2804 8.10661 35.6792H8.08635L7.94676 35.616C6.0229 34.7063 4.33686 33.3298 3.03009 31.6021C1.72332 29.8745 0.833942 27.846 0.436576 25.6869C0.283035 24.8377 0.207653 23.9751 0.21145 23.111V23.0829C0.218982 22.3348 0.506957 21.6192 1.01406 21.0887C1.52116 20.5581 2.20733 20.2545 2.92646 20.2423H20.5538C20.1697 19.2052 19.5825 18.2626 18.8293 17.4743C18.7551 17.3947 18.6763 17.3151 18.6042 17.2401C18.5322 17.1652 18.4264 17.0715 18.3341 16.9919C18.2418 16.9123 18.199 16.8725 18.1292 16.8163C18.0594 16.7601 17.9649 16.6828 17.8816 16.6196C17.8388 16.5891 17.7983 16.5563 17.7555 16.5282C17.7127 16.5001 17.6699 16.465 17.6272 16.4369C17.5416 16.376 17.4561 16.3175 17.3683 16.2636C17.3232 16.2332 17.2805 16.2074 17.2354 16.1817L17.1049 16.102L16.9721 16.0271L16.8325 15.9522C16.7852 15.9287 16.7424 15.903 16.6952 15.8819L16.5556 15.814L16.425 15.7531L16.2742 15.6852L16.1346 15.629L15.9905 15.5728L15.8442 15.5213L15.7001 15.4698L15.5538 15.4253L15.4097 15.3808C15.3129 15.355 15.2161 15.3269 15.117 15.3035L14.9639 15.2707C14.7726 15.2286 14.579 15.1958 14.3831 15.17C14.3201 15.17 14.2593 15.1536 14.1963 15.1442C14.0769 15.1302 13.9554 15.1208 13.8338 15.1115H2.89044C2.53175 15.1118 2.17652 15.0385 1.84507 14.8959C1.51363 14.7532 1.21247 14.544 0.958835 14.2802C0.7052 14.0163 0.504068 13.7031 0.366939 13.3583C0.229809 13.0135 0.159373 12.644 0.159669 12.2709V9.3671H13.37C15.2571 9.3626 17.1227 9.78364 18.8383 10.6012L18.9847 10.6715C19.2098 10.7792 19.4214 10.8916 19.6353 11.0134L19.6758 11.0368C19.7524 11.0813 19.8266 11.1234 19.9009 11.1703C19.9302 11.1843 19.9617 11.2054 19.9932 11.2241L20.1936 11.3506L20.4683 11.5262L20.6371 11.6433C20.6489 11.6481 20.6596 11.6552 20.6686 11.6644L20.7159 11.6972C20.8847 11.8143 21.0491 11.9313 21.2089 12.0601C21.3035 12.1327 21.3913 12.1983 21.4791 12.2756C21.5144 12.2999 21.5483 12.3265 21.5804 12.3552L21.8348 12.5706L21.8956 12.6245L22.1027 12.8095L22.1972 12.9008C22.258 12.9547 22.3165 13.0109 22.3728 13.0671C22.4291 13.1233 22.4223 13.1116 22.4426 13.135C22.5011 13.1889 22.5574 13.2474 22.6137 13.306L22.7308 13.4231C22.8073 13.5074 22.8884 13.5893 22.9559 13.676C23.0234 13.7626 23.1202 13.8563 23.1968 13.9453L23.2733 14.0366L23.4242 14.2169C23.4579 14.2567 23.4894 14.2965 23.5232 14.341C23.557 14.3855 23.6448 14.4932 23.7056 14.5752C23.8384 14.7485 23.9667 14.9241 24.0883 15.1044C25.1563 16.6441 25.9032 18.3989 26.281 20.2563C26.3215 20.4249 26.3463 20.5959 26.3823 20.7598C26.4249 20.9826 26.455 21.2078 26.4724 21.4343C26.4724 21.4343 26.4724 21.4553 26.4724 21.4647C26.4859 21.563 26.4971 21.6591 26.5039 21.7598C26.5029 21.7683 26.5029 21.777 26.5039 21.7855C26.5039 21.8441 26.5039 21.9026 26.5174 21.9658C26.5163 21.9877 26.5163 22.0096 26.5174 22.0314V22.0548C26.5174 22.1344 26.5286 22.2117 26.5331 22.289C26.5343 22.2999 26.5343 22.3109 26.5331 22.3218C26.5343 22.3413 26.5343 22.3608 26.5331 22.3803C26.5331 22.4155 26.5331 22.4529 26.5331 22.4881C26.5342 22.4974 26.5342 22.5068 26.5331 22.5162C26.5331 22.5817 26.5331 22.6496 26.5331 22.7129V22.8065C26.5782 22.9049 26.5804 23.0079 26.5804 23.1086Z"
              fill="white"></path>
            <path
              d="M65.9618 22.8042C65.9618 22.9049 65.9618 23.0056 65.9618 23.1086C65.9618 23.2116 65.9618 23.31 65.9618 23.4107V23.5044V23.7011C65.9629 23.7104 65.9629 23.7199 65.9618 23.7292V23.8392C65.9607 23.8587 65.9607 23.8783 65.9618 23.8978C65.9607 23.9087 65.9607 23.9197 65.9618 23.9306C65.9618 24.0102 65.9618 24.0898 65.9775 24.1647V24.1858V24.2537C65.9775 24.3146 65.9775 24.3732 65.9933 24.4341C65.9933 24.4341 65.9933 24.4528 65.9933 24.4622C65.9933 24.5605 66.0136 24.6589 66.0248 24.7572C66.0248 24.7572 66.0248 24.776 66.0248 24.7853C66.0442 25.0124 66.075 25.2383 66.1171 25.4621C66.1531 25.626 66.1802 25.797 66.2162 25.9632C66.5967 27.8198 67.3433 29.5741 68.4089 31.1151C68.5335 31.2931 68.6618 31.4687 68.7939 31.642C68.8524 31.7216 68.9132 31.7989 68.9762 31.8762L69.0753 31.998C69.1225 32.0589 69.1743 32.1197 69.2238 32.1783L69.3026 32.2696C69.3814 32.3609 69.4602 32.4523 69.5413 32.5413C69.6223 32.6303 69.6966 32.7099 69.7664 32.7918L69.8835 32.9113L70.0523 33.0822L70.1221 33.1478L70.2977 33.3141C70.3292 33.3468 70.363 33.3773 70.3945 33.4054L70.6016 33.5927L70.6624 33.6442L70.9168 33.862L71.0181 33.9416C71.1059 34.0166 71.1937 34.0845 71.286 34.1547C71.4481 34.2812 71.6124 34.3889 71.779 34.5177L71.8286 34.5528L71.8601 34.5739L72.0289 34.6887C72.119 34.7496 72.209 34.8081 72.3036 34.8666L72.5062 34.9931C72.5354 35.0118 72.5647 35.0306 72.5962 35.047C72.6705 35.0914 72.7448 35.1359 72.8214 35.1781L72.8619 35.2015C73.087 35.3233 73.2919 35.4357 73.5125 35.5458L73.6566 35.6137C75.3732 36.4307 77.2394 36.8517 79.1271 36.8478H92.3352V33.9557C92.3352 33.203 92.0478 32.481 91.5361 31.9488C91.0244 31.4165 90.3304 31.1175 89.6067 31.1175H78.7174C78.5958 31.1175 78.4743 31.0987 78.3549 31.0847L78.1703 31.0613C77.9745 31.0355 77.7786 31.0027 77.5873 30.9606L77.4432 30.9114C77.3464 30.888 77.2473 30.8622 77.1505 30.8341C77.101 30.8341 77.0537 30.8084 77.0064 30.792L76.8601 30.7451L76.7138 30.696L76.5697 30.6421L76.4256 30.5882L76.286 30.5297L76.1352 30.4641L76.0024 30.4032L75.8651 30.3353L75.7255 30.2627L75.5882 30.1901L75.4553 30.1129L75.3225 30.0356L75.1919 29.9536C75.1041 29.8974 75.0163 29.8412 74.933 29.7803L74.8047 29.689L74.6786 29.5953C74.5953 29.5321 74.512 29.4689 74.431 29.4009L74.2261 29.223C74.1338 29.1433 74.046 29.0614 73.956 28.9888L73.7309 28.7546C72.9784 27.9653 72.3919 27.0219 72.0087 25.9843H89.654C90.3846 25.9843 91.0854 25.6827 91.6025 25.1458C92.1195 24.6088 92.4106 23.8803 92.4118 23.1203C92.4127 20.4774 91.6806 17.8903 90.3034 15.6694C88.9262 13.4484 86.9623 11.6878 84.6472 10.5989C84.6022 10.5754 84.5549 10.5567 84.5076 10.5356H84.4874C83.1828 9.93212 81.7917 9.55554 80.3698 9.42095H80.3451L80.1199 9.40222H80.0119L79.8228 9.3905H79.6517H79.5076H79.1902H79.1767H78.8592H78.7174H78.5463L78.3572 9.40222H78.2491L78.024 9.42095H78.0015C76.5801 9.55128 75.189 9.92392 73.884 10.5239H73.8614L73.7219 10.5872C71.7981 11.4974 70.1124 12.8744 68.806 14.6025C67.4996 16.3305 66.6107 18.3593 66.2139 20.5186C66.1576 20.816 66.1149 21.1181 66.0788 21.4202V21.4366L66.0451 21.7457V21.7785C66.0451 21.8417 66.0451 21.9049 66.0293 21.9705V22.0291V22.0501C66.0293 22.1297 66.0181 22.2117 66.0136 22.2843C66.0124 22.2936 66.0124 22.3031 66.0136 22.3124C66.0125 22.3303 66.0125 22.3483 66.0136 22.3663V22.481C66.0147 22.4903 66.0147 22.4998 66.0136 22.5091V22.7058V22.7995L65.9618 22.8042ZM79.1699 15.0951C80.732 15.0891 82.2588 15.5791 83.5461 16.4997C84.8334 17.4203 85.8199 18.7276 86.3739 20.247H71.9884C72.3717 19.2093 72.9581 18.2659 73.7106 17.4766C74.4244 16.7225 75.2752 16.1236 76.2137 15.7147C77.1521 15.3059 78.1593 15.0952 79.1767 15.0951H79.1699Z"
              fill="white"></path>
            <path
              d="M203.538 25.9702C203.922 27.0084 204.509 27.952 205.263 28.7406C205.337 28.8225 205.416 28.8998 205.488 28.9747C205.56 29.0497 205.666 29.141 205.756 29.223L205.968 29.408C206.042 29.4712 206.17 29.5649 206.247 29.6234L206.335 29.689L206.463 29.7803C206.546 29.8388 206.634 29.8951 206.72 29.9513L206.852 30.0332L206.987 30.1128C207.028 30.1363 207.073 30.1644 207.118 30.1878C207.163 30.2112 207.208 30.2393 207.255 30.2627L207.393 30.333L207.532 30.4009L207.665 30.4618L207.816 30.5297L207.955 30.5859L208.1 30.6421L208.244 30.6936L208.39 30.7451L208.536 30.7919L208.68 30.8341C208.779 30.8622 208.878 30.8856 208.975 30.909C209.025 30.9231 209.077 30.9348 209.126 30.9442C209.317 30.9887 209.513 31.0191 209.707 31.0472L209.894 31.0706C210.013 31.0847 210.135 31.094 210.256 31.1011H221.193C221.554 31.0989 221.912 31.1712 222.246 31.3139C222.58 31.4565 222.883 31.6667 223.139 31.9322C223.394 32.1977 223.597 32.5132 223.734 32.8605C223.871 33.2079 223.941 33.5801 223.939 33.9557V36.8618H210.731C209.444 36.8628 208.164 36.6679 206.931 36.2834C206.361 36.1032 205.803 35.8841 205.261 35.6277L205.117 35.5575C204.892 35.4497 204.68 35.335 204.466 35.2132L204.426 35.1898C204.351 35.15 204.275 35.1031 204.2 35.061L204.11 35.0048L203.905 34.8807L203.631 34.7027L203.464 34.588L203.433 34.5645C203.415 34.5542 203.399 34.5425 203.383 34.5294C203.214 34.4147 203.052 34.2952 202.89 34.1711C202.796 34.0985 202.708 34.0306 202.62 33.9557C202.586 33.9302 202.554 33.9029 202.523 33.8737C202.435 33.8011 202.35 33.7309 202.267 33.6559L202.208 33.6044C202.138 33.5435 202.066 33.4827 202.001 33.4194C201.936 33.3562 201.933 33.3609 201.902 33.3281L201.726 33.1618L201.656 33.0939L201.485 32.923C201.447 32.8855 201.411 32.8433 201.373 32.8035C201.292 32.7239 201.213 32.6373 201.148 32.553C201.082 32.4687 200.988 32.3726 200.907 32.2813C200.882 32.2532 200.855 32.2204 200.832 32.19C200.81 32.1596 200.729 32.0729 200.682 32.012L200.58 31.8902L200.4 31.6561C200.265 31.4828 200.139 31.3048 200.015 31.1292C198.95 29.5877 198.204 27.8336 197.823 25.9773C197.787 25.811 197.757 25.64 197.724 25.4785C197.68 25.2549 197.65 25.0289 197.631 24.8017C197.631 24.8017 197.631 24.7806 197.631 24.7713C197.618 24.6729 197.611 24.5746 197.6 24.4762C197.6 24.4762 197.6 24.4575 197.6 24.4504C197.6 24.3895 197.588 24.3287 197.584 24.2701C197.579 24.2116 197.584 24.2233 197.584 24.1999C197.583 24.1929 197.583 24.1858 197.584 24.1788C197.584 24.0992 197.584 24.0195 197.568 23.9446C197.568 23.9329 197.568 23.9212 197.568 23.9118C197.568 23.9025 197.568 23.872 197.568 23.8509C197.568 23.8299 197.568 23.7783 197.568 23.7409C197.568 23.7034 197.568 23.7221 197.568 23.7151C197.568 23.6472 197.568 23.584 197.568 23.5184C197.566 23.5005 197.566 23.4824 197.568 23.4645V23.4177C197.568 23.3147 197.568 23.2163 197.568 23.1133C197.568 23.0102 197.568 22.9119 197.568 22.8112V22.769C197.566 22.7519 197.566 22.7346 197.568 22.7175C197.568 22.652 197.568 22.5864 197.568 22.5185C197.568 22.5185 197.568 22.4997 197.568 22.4927C197.568 22.4857 197.568 22.4178 197.568 22.3756C197.57 22.3577 197.57 22.3396 197.568 22.3218C197.568 22.3218 197.568 22.303 197.568 22.2937L197.584 22.0595C197.583 22.0533 197.583 22.0469 197.584 22.0407C197.583 22.0205 197.583 22.0001 197.584 21.9799C197.584 21.919 197.584 21.8534 197.6 21.7878V21.7738C197.6 21.6731 197.62 21.5677 197.633 21.4647C197.632 21.46 197.632 21.4552 197.633 21.4506C197.667 21.1485 197.714 20.8464 197.769 20.549C198.166 18.3898 199.054 16.3611 200.361 14.6331C201.667 12.905 203.353 11.528 205.276 10.6176L205.416 10.5544H205.436C206.742 9.9541 208.134 9.5807 209.556 9.44903H209.579L209.804 9.42797H209.912C209.973 9.42797 210.038 9.42797 210.101 9.41626H210.27H210.416H211.062H211.204H211.377C211.44 9.41626 211.501 9.41626 211.566 9.42797H211.672L211.897 9.44903H211.92C213.342 9.5807 214.734 9.9541 216.04 10.5544H216.06L216.197 10.6176C218.507 11.7075 220.466 13.467 221.838 15.6854C223.211 17.9037 223.94 20.4868 223.937 23.125C223.937 23.5012 223.866 23.8737 223.728 24.2214C223.59 24.569 223.387 24.8848 223.131 25.1508C222.876 25.4168 222.572 25.6278 222.238 25.7716C221.904 25.9154 221.545 25.9893 221.184 25.989L203.538 25.9702Z"
              fill="white"></path>
            <path
              d="M63.4853 12.1304V15.0881H58.2466V36.8501H52.5374V15.0881H40.2455V36.8501H34.5364V15.0881H31.5039C31.1512 15.0893 30.8016 15.018 30.4754 14.8784C30.1492 14.7388 29.8527 14.5335 29.603 14.2743C29.3532 14.0152 29.1551 13.7073 29.0201 13.3683C28.885 13.0293 28.8156 12.666 28.8159 12.299V9.3437H34.5274V5.48913C34.5274 3.88736 34.9881 2.60642 35.9096 1.64629C36.8311 0.686164 38.0318 0.206878 39.5116 0.208439H45.4032V2.92255C45.4032 3.50325 45.1814 4.06018 44.7867 4.4708C44.3919 4.88142 43.8565 5.11211 43.2982 5.11211H41.4972C40.6508 5.11211 40.2253 5.58047 40.2253 6.51718V9.3273H52.5172V5.48913C52.5172 3.88736 52.9779 2.60642 53.8994 1.64629C54.8209 0.686164 56.0216 0.206878 57.5014 0.208439H63.393V2.92255C63.393 3.50325 63.1712 4.06018 62.7764 4.4708C62.3817 4.88142 61.8463 5.11211 61.288 5.11211H59.487C58.6406 5.11211 58.2151 5.58047 58.2151 6.51718V9.3273H60.7657C61.1223 9.32168 61.4763 9.39016 61.8071 9.52872C62.1378 9.66728 62.4387 9.87313 62.692 10.1342C62.9453 10.3953 63.1459 10.7063 63.2821 11.0491C63.4183 11.3919 63.4874 11.7595 63.4853 12.1304Z"
              fill="white"></path>
            <path
              d="M136.201 36.8502C134.49 36.8502 133.103 36.2967 132.039 35.1898C130.974 34.083 130.442 32.5998 130.442 30.7405V15.2215H126.971C126.169 15.2215 125.399 14.89 124.832 14.2997C124.264 13.7095 123.945 12.9089 123.945 12.0742V9.28047H130.438V1.44959H132.689C133.129 1.44928 133.564 1.53906 133.97 1.71381C134.376 1.88855 134.745 2.14483 135.056 2.46799C135.367 2.79116 135.614 3.17488 135.782 3.59723C135.95 4.01958 136.037 4.47228 136.037 4.92946V9.28047H140.13C140.527 9.28016 140.921 9.36135 141.288 9.51938C141.656 9.67741 141.989 9.90919 142.271 10.2015C142.552 10.4938 142.775 10.8408 142.927 11.2228C143.079 11.6048 143.158 12.0143 143.158 12.4278V15.2215H136.032V29.3916C136.032 30.4844 136.521 31.0309 137.498 31.0309H141.422C141.829 31.0299 142.233 31.1126 142.61 31.274C142.987 31.4355 143.329 31.6726 143.618 31.9719C143.907 32.2711 144.136 32.6266 144.293 33.018C144.449 33.4095 144.53 33.8292 144.531 34.2531V36.8502H136.201Z"
              fill="white"></path>
            <path
              d="M195.321 9.22656L195.166 12.2709C195.165 13.0522 194.866 13.8013 194.335 14.3542C193.805 14.9072 193.085 15.219 192.334 15.2215H188.957C187.48 15.2215 186.264 15.6297 185.308 16.4462C184.349 17.2659 183.874 18.521 183.874 20.2212V36.8595H178.203V17.2448C178.203 15.1182 179.015 13.0787 180.46 11.575C181.906 10.0713 183.867 9.22656 185.911 9.22656H195.321Z"
              fill="white"></path>
            <path
              d="M116.467 30.9325H110.026C105.906 30.9325 102.419 27.5791 102.295 23.296C102.265 22.2424 102.439 21.1935 102.806 20.211C103.173 19.2285 103.725 18.3325 104.431 17.5759C105.136 16.8192 105.98 16.2173 106.913 15.8057C107.845 15.3941 108.848 15.1811 109.861 15.1794H116.464C117.311 15.1794 118.124 14.8293 118.723 14.2061C119.322 13.5829 119.659 12.7377 119.659 11.8564V9.26172H110.086C102.826 9.26172 96.7432 15.2379 96.6059 22.7901C96.5761 24.622 96.8968 26.4417 97.5493 28.1434C98.2019 29.8452 99.1733 31.3949 100.407 32.7024C101.641 34.0099 103.112 35.0492 104.736 35.7596C106.359 36.4701 108.102 36.8376 109.864 36.8408H119.661V34.2578C119.661 33.3763 119.325 32.5308 118.726 31.9073C118.126 31.2837 117.314 30.9331 116.467 30.9325Z"
              fill="white"></path>
            <path
              d="M167.577 12.2615V24.3544C167.577 27.8226 165.006 30.7615 161.678 30.9465C160.831 30.9942 159.984 30.862 159.187 30.5579C158.391 30.2537 157.663 29.7841 157.047 29.1776C156.43 28.5711 155.94 27.8404 155.604 27.0301C155.268 26.2198 155.094 25.3469 155.093 24.4645V12.2615C155.093 11.4709 154.791 10.7127 154.254 10.1536C153.717 9.59453 152.988 9.28046 152.228 9.28046H149.418V24.2842C149.418 31.2252 154.877 36.9719 161.55 36.8478C164.672 36.7865 167.647 35.4544 169.835 33.1375C172.024 30.8206 173.252 27.7034 173.257 24.4551V9.28046H170.442C169.682 9.28046 168.953 9.59453 168.416 10.1536C167.879 10.7127 167.577 11.4709 167.577 12.2615Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_280_1627">
              <rect width="224" height="37" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
        <h1 class="mod-opacity hero-item">
          Biometric enhanced <br /><span class="text-gradient">playtesting</span
          >
        </h1>
        <div class="hero-item hero-button">
          <Button title="Request a Demo" />
        </div>
      </div>
      <PlayPopUp
        title="Sign up to playtest"
        body="Interested in testing new games with us?"
      />
      <div class="header-visuals">
        <Image
          class="header-image"
          src={headerImage}
          alt="Man Wearing EEG headset"
          height={400}
        />
        <div class="starter-line"></div>
        <div class="connecting-line"></div>
      </div>
    </div>
    <section class="what-we-do">
      <div class="side-bar-sticky"></div>
      <div class="textContainer">
        <div class="hyphen"></div>
        <h2>How We Help</h2>
        <p>
          Affecture allows game studios to understand the player experience
          better with accurate data on stress, attention, and emotional
          qualities throughout gameplay.<br /><br />We collect biometric data
          such as brain activity for ever second of the playtest to extract in
          depth insights.
        </p>
      </div>
      <ul role="list" class="link-card-grid">
        <BasicCard
          title="Validate your vision"
          body="Ensure your goals for the game are being met and the gameplay you create is having the effects that you want on players."
        >
          <svg
            fill="none"
            height="36"
            viewBox="0 0 48 48"
            width="36"
            xmlns="http://www.w3.org/2000/svg"
            ><g
              stroke="#fff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="4"
              ><path
                d="m44 22.16v1.84c-.0025 4.3128-1.399 8.5094-3.9813 11.9637-2.5824 3.4543-6.2121 5.9813-10.348 7.2041-4.1358 1.2228-8.5562 1.076-12.6018-.4186-4.0455-1.4947-7.49959-4.257-9.84698-7.8751-2.34739-3.618-3.46234-7.898-3.17857-12.2015s1.95106-8.3999 4.75321-11.6785c2.80214-3.27846 6.58904-5.56333 10.79584-6.5138 4.2068-.95048 8.6081-.51562 12.5476 1.2397"
              ></path><path d="m44 8-20 20.02-6-6"></path></g
            ></svg
          >
        </BasicCard>
        <BasicCard
          title="Confident design decisions"
          body="Our biometric insights help you better understand players' behavior and make informed design choices."
        >
          <svg
            width="36"
            height="36"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.9818 22.1636L21.9818 4.16357C23.5731 4.16357 25.0992 4.79572 26.2245 5.92093C27.3497 7.04615 27.9818 8.57228 27.9818 10.1636V18.1636H39.3018C39.8816 18.157 40.4559 18.2766 40.985 18.514C41.514 18.7514 41.985 19.101 42.3655 19.5386C42.746 19.9762 43.0268 20.4912 43.1885 21.0481C43.3502 21.6049 43.3888 22.1903 43.3018 22.7636L40.5418 40.7636C40.3972 41.7174 39.9127 42.5868 39.1776 43.2116C38.4426 43.8364 37.5065 44.1745 36.5418 44.1636H13.9818M13.9818 22.1636V44.1636M13.9818 22.1636H7.98181C6.92095 22.1636 5.90353 22.585 5.15338 23.3351C4.40324 24.0853 3.98181 25.1027 3.98181 26.1636V40.1636C3.98181 41.2244 4.40324 42.2419 5.15338 42.992C5.90353 43.7421 6.92095 44.1636 7.98181 44.1636H13.9818"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </BasicCard>
        <BasicCard
          title="De-risk and reduce rework"
          body="Our studies help de-risk game development by identifying challenges early and minimizing unnecessary work."
        >
          <svg
            width="36"
            height="36"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_171_35)">
              <path
                d="M46.0364 35.6727L27.0364 16.6727L17.0364 26.6727L2.03638 11.6727"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M34.0364 35.6727H46.0364V23.6727"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_171_35">
                <rect width="48" height="48" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </BasicCard>
        <BasicCard
          title="More engaging games"
          body="By understanding how players are reacting to each second of gameplay you can ensure your game stays captivating all the way through."
        >
          <svg
            width="36"
            height="36"
            viewBox="0 0 48 48"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M24.0546 43.509C35.1003 43.509 44.0546 34.5547 44.0546 23.509C44.0546 12.4633 35.1003 3.50903 24.0546 3.50903C13.0089 3.50903 4.05457 12.4633 4.05457 23.509C4.05457 34.5547 13.0089 43.509 24.0546 43.509Z"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M16.0546 27.509C16.0546 27.509 19.0546 31.509 24.0546 31.509C29.0546 31.509 32.0546 27.509 32.0546 27.509"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M18.0546 17.509H18.0746"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M30.0546 17.509H30.0746"
              stroke="white"
              stroke-width="4"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
        </BasicCard>
      </ul>
    </section>
    <!--  
		<section class="testimonials">
			<div class="side-bar-transition"></div>
			<div class="textContainer">
				<div class="hyphen"></div>
				<h2>Testimonials</h2>
				<p style="margin-top: -20px">Read what our clients have to say:</p>	
			</div>
			<ul role="list" class="testimonials-grid">
				<CardTestamonials
					body="“Affecture cut down our opperating costs for playtesting by more than 50% by helping us catch problems early on”"
					author="Jack Dewalt - CEO"
				><svg width="186" height="36" viewBox="0 0 248 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="0.3">
					<path d="M91.6121 23.7192H94.9298V29.9808C93.205 31.2562 90.8255 31.9386 88.5845 31.9386C83.6501 31.9386 80.0178 28.6079 80.0178 23.9646C80.0178 19.3196 83.6485 15.9897 88.65 15.9897C91.4097 15.9897 93.6966 16.9166 95.2174 18.6559L92.8838 20.7696C91.7366 19.5779 90.4199 19.0304 88.827 19.0304C85.7789 19.0304 83.696 21.0328 83.696 23.9646C83.696 26.8955 85.7805 28.8988 88.7885 28.8988C89.7783 28.8988 90.696 28.7249 91.6121 28.2351V23.7192Z" fill="white"/>
					<path d="M110.83 28.3725H103.541L102.152 31.6771H98.4285L105.422 16.249H109.008L116.026 31.6771H112.212L110.83 28.3725ZM109.683 25.6666L107.192 19.7592L104.701 25.6666H109.683Z" fill="white"/>
					<path d="M134.142 31.677L134.116 22.4195L129.495 30.0474H127.857L123.269 22.6201V31.6778H119.86V16.248H122.862L128.733 25.8338L134.521 16.248H137.503L137.549 31.6762H134.14L134.142 31.677Z" fill="white"/>
					<path d="M143.336 24.756V16.1167H146.966V24.6195C146.966 27.5513 148.264 28.7625 150.466 28.7625C152.668 28.7625 153.966 27.5513 153.966 24.6195V16.1175H157.55V24.7568C157.55 29.2979 154.903 31.8104 150.446 31.8104C145.989 31.8104 143.335 29.2987 143.335 24.7568L143.336 24.756Z" fill="white"/>
					<path d="M162.35 23.9665C162.35 19.315 165.981 15.9917 170.87 15.9917C173.583 15.9917 175.844 16.9649 177.324 18.7228L174.991 20.8365C173.935 19.644 172.613 19.0266 171.045 19.0266C168.109 19.0266 166.025 21.0559 166.025 23.9608C166.025 26.8658 168.109 28.895 171.045 28.895C172.619 28.895 173.935 28.276 174.991 27.0656L177.324 29.1794C175.843 30.9633 173.583 31.9365 170.843 31.9365C165.98 31.9495 162.349 28.6188 162.349 23.9673L162.35 23.9665Z" fill="white"/>
					<path d="M191.992 28.3725H184.704L183.315 31.6771H179.592L186.585 16.249H190.17L197.189 31.6771H193.375L191.992 28.3725H191.992ZM190.845 25.6666L188.355 19.7592L185.864 25.6666H190.845Z" fill="white"/>
					<path d="M203.494 19.1605H198.474V16.249H212.151V19.1605H207.132V31.6771H203.501V19.1605H203.494Z" fill="white"/>
					<path d="M228.444 28.8102V31.6778H216.292V16.248H228.155V19.1156H219.903V22.4649H227.191V25.2407H219.903V28.8094L228.444 28.8102Z" fill="white"/>
					<path d="M243.262 31.6771L239.473 26.3238L235.75 31.6771H231.581L237.388 23.8315L231.876 16.249H235.999L239.61 21.2547L243.155 16.249H247.074L241.602 23.6958L247.454 31.6706H243.259V31.6771H243.262Z" fill="white"/>
					<path d="M59.6428 35.2299L36.8345 48L43.0454 22.9123L65.8152 10.1089L59.6436 35.2307L59.6428 35.2299Z" fill="white"/>
					<path d="M31.2676 45.1492L14.8472 29.6837L14.9799 3.8584L24.9182 13.1841L20.777 24.2158L31.2676 45.1508V45.1492Z" fill="white"/>
					<path d="M29.6445 46.8235L8.84032 37.8194L0 13.5059L12.5808 18.9226L12.521 30.6854L29.6445 46.8235Z" fill="white"/>
					<path d="M33.3853 44.2913L23.3208 24.2239L32.4119 0.000488281L38.5113 12.1183L30.7878 21.0882L33.3853 44.2897V44.2913Z" fill="white"/>
					<path d="M35.5791 43.913L33.0881 21.6677L50.0403 1.96826L51.5644 15.4053L41.1926 21.2347L35.5782 43.9146L35.5791 43.913Z" fill="white"/>
					</g>
					</svg>
					</CardTestamonials>
				<CardTestamonials
					body="“Affecture cut down our opperating costs for playtesting by more than 50% by helping us catch problems early on”"
					author="Nicholas Kryger - CFO"
				><svg width="186" height="36" viewBox="0 0 248 48" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g opacity="0.3">
					<path d="M91.6121 23.7192H94.9298V29.9808C93.205 31.2562 90.8255 31.9386 88.5845 31.9386C83.6501 31.9386 80.0178 28.6079 80.0178 23.9646C80.0178 19.3196 83.6485 15.9897 88.65 15.9897C91.4097 15.9897 93.6966 16.9166 95.2174 18.6559L92.8838 20.7696C91.7366 19.5779 90.4199 19.0304 88.827 19.0304C85.7789 19.0304 83.696 21.0328 83.696 23.9646C83.696 26.8955 85.7805 28.8988 88.7885 28.8988C89.7783 28.8988 90.696 28.7249 91.6121 28.2351V23.7192Z" fill="white"/>
					<path d="M110.83 28.3725H103.541L102.152 31.6771H98.4285L105.422 16.249H109.008L116.026 31.6771H112.212L110.83 28.3725ZM109.683 25.6666L107.192 19.7592L104.701 25.6666H109.683Z" fill="white"/>
					<path d="M134.142 31.677L134.116 22.4195L129.495 30.0474H127.857L123.269 22.6201V31.6778H119.86V16.248H122.862L128.733 25.8338L134.521 16.248H137.503L137.549 31.6762H134.14L134.142 31.677Z" fill="white"/>
					<path d="M143.336 24.756V16.1167H146.966V24.6195C146.966 27.5513 148.264 28.7625 150.466 28.7625C152.668 28.7625 153.966 27.5513 153.966 24.6195V16.1175H157.55V24.7568C157.55 29.2979 154.903 31.8104 150.446 31.8104C145.989 31.8104 143.335 29.2987 143.335 24.7568L143.336 24.756Z" fill="white"/>
					<path d="M162.35 23.9665C162.35 19.315 165.981 15.9917 170.87 15.9917C173.583 15.9917 175.844 16.9649 177.324 18.7228L174.991 20.8365C173.935 19.644 172.613 19.0266 171.045 19.0266C168.109 19.0266 166.025 21.0559 166.025 23.9608C166.025 26.8658 168.109 28.895 171.045 28.895C172.619 28.895 173.935 28.276 174.991 27.0656L177.324 29.1794C175.843 30.9633 173.583 31.9365 170.843 31.9365C165.98 31.9495 162.349 28.6188 162.349 23.9673L162.35 23.9665Z" fill="white"/>
					<path d="M191.992 28.3725H184.704L183.315 31.6771H179.592L186.585 16.249H190.17L197.189 31.6771H193.375L191.992 28.3725H191.992ZM190.845 25.6666L188.355 19.7592L185.864 25.6666H190.845Z" fill="white"/>
					<path d="M203.494 19.1605H198.474V16.249H212.151V19.1605H207.132V31.6771H203.501V19.1605H203.494Z" fill="white"/>
					<path d="M228.444 28.8102V31.6778H216.292V16.248H228.155V19.1156H219.903V22.4649H227.191V25.2407H219.903V28.8094L228.444 28.8102Z" fill="white"/>
					<path d="M243.262 31.6771L239.473 26.3238L235.75 31.6771H231.581L237.388 23.8315L231.876 16.249H235.999L239.61 21.2547L243.155 16.249H247.074L241.602 23.6958L247.454 31.6706H243.259V31.6771H243.262Z" fill="white"/>
					<path d="M59.6428 35.2299L36.8345 48L43.0454 22.9123L65.8152 10.1089L59.6436 35.2307L59.6428 35.2299Z" fill="white"/>
					<path d="M31.2676 45.1492L14.8472 29.6837L14.9799 3.8584L24.9182 13.1841L20.777 24.2158L31.2676 45.1508V45.1492Z" fill="white"/>
					<path d="M29.6445 46.8235L8.84032 37.8194L0 13.5059L12.5808 18.9226L12.521 30.6854L29.6445 46.8235Z" fill="white"/>
					<path d="M33.3853 44.2913L23.3208 24.2239L32.4119 0.000488281L38.5113 12.1183L30.7878 21.0882L33.3853 44.2897V44.2913Z" fill="white"/>
					<path d="M35.5791 43.913L33.0881 21.6677L50.0403 1.96826L51.5644 15.4053L41.1926 21.2347L35.5782 43.9146L35.5791 43.913Z" fill="white"/>
					</g>
					</svg>
					</CardTestamonials>
			</ul>
		</section>-->

    <section class="learn">
      <div class="side-bar-up"></div>
      <div class="side-bar-black"></div>
      <div class="textContainer">
        <div class="hyphen-black"></div>
        <h2>Learn how we<br />can help you...</h2>
        <p class="learn-text">
          Get in contact with us today to find out more about how Affecture can
          help test your game.
        </p>
        <DarkButton title="Request a Demo" />
      </div>
      <!-- <Image class="learn-image"
			  src={learnImage}
			  alt="Affecture founder Andre explaining how we playtest"
			/> -->
      <Picture
        class="learn-image"
        src={learnImage}
        alt="Affecture founder Andre explaining how we playtest"
      />
    </section>
    <section class="transition">
      <div class="side-bar-transition"></div>
      <h1 style="font-weight:800;">
        <span class="text-gradient">Curious About Our Process?</span>
      </h1>
    </section>
    <section class="what-we-measure">
      <div class="side-bar"></div>
      <div class="textContainer">
        <div class="hyphen"></div>
        <h2>What We Measure</h2>
        <div class="measure-inputs">
          <CardPlainIcon title="Heart Rate">
            <svg
              width="44"
              height="39"
              viewBox="0 0 44 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M38.975 5.22365C37.996 4.20166 36.8337 3.39094 35.5544 2.83782C34.2751 2.28469 32.9039 2 31.5191 2C30.1344 2 28.7632 2.28469 27.4839 2.83782C26.2046 3.39094 25.0423 4.20166 24.0633 5.22365L22.0316 7.34365L20 5.22365C18.0226 3.16027 15.3406 2.00107 12.5441 2.00107C9.74766 2.00107 7.06572 3.16027 5.08831 5.22365C3.1109 7.28704 2 10.0856 2 13.0037C2 15.9217 3.1109 18.7203 5.08831 20.7837L7.11997 22.9037L22.0316 38.4636L36.9433 22.9037L38.975 20.7837C39.9544 19.7621 40.7313 18.5493 41.2614 17.2144C41.7915 15.8794 42.0643 14.4486 42.0643 13.0037C42.0643 11.5587 41.7915 10.1279 41.2614 8.79294C40.7313 7.45802 39.9544 6.24516 38.975 5.22365Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </CardPlainIcon>
          <CardPlainIcon title="Brain Activity">
            <svg
              width="45"
              height="39"
              viewBox="0 0 45 39"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_230_1003)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M44.2991 22.8417C44.1511 23.8981 43.7766 24.9032 43.2052 25.7777C42.6337 26.6522 41.8815 27.3719 41.0069 27.8801C40.7647 28.0245 40.5108 28.1456 40.249 28.2421C40.5818 32.9831 33.5723 34.7071 29.7948 33.5779L31.1984 38.8533L27.5893 38.9912L21.2735 29.2722C19.1442 29.9187 16.6299 30.229 15.0059 27.4275C14.8583 27.1702 14.7245 26.9039 14.6049 26.6302C14.1918 26.7207 13.7714 26.7668 13.3497 26.7681C12.1467 26.7681 10.1417 26.3802 9.12317 25.6216C8.31567 25.0463 7.67507 24.2381 7.27455 23.2899C5.10512 23.6089 3.26452 23.0615 2.06151 21.7082C0.537705 20.023 0.104622 17.2387 0.898607 14.2519C1.94522 10.2652 5.12918 5.77415 11.457 4.08894C12.0059 3.35547 12.6629 2.72362 13.4019 2.21841C17.3758 -0.518434 23.8279 -0.755485 28.7242 1.84344C30.6224 1.46338 32.5818 1.665 34.3783 2.42529C37.8991 3.84327 40.4575 6.80854 40.9387 9.82123C41.8919 10.3521 42.6722 11.1818 43.1763 12.2003C44.2309 14.3295 44.3793 16.4629 43.6695 18.1869C44.338 19.626 44.559 21.2578 44.2991 22.8417ZM41.7006 20.6005C41.14 20.9186 40.5161 21.0849 39.8821 21.0849C39.2481 21.0849 38.6241 20.9186 38.0635 20.6005L38.3563 18.5102C39.5913 18.6395 40.5979 18.2257 41.1232 17.3766C41.7126 16.4327 41.6204 15.032 40.8745 13.5278C40.0405 11.8426 38.24 11.5754 37.2415 11.5625H37.1773C34.6751 11.5625 32.1247 13.0925 31.0941 15.088L29.5943 14.3165C29.8892 13.2886 30.3902 12.3426 31.062 11.5452C30.4836 11.0174 30.0464 10.3336 29.7955 9.56392C29.5446 8.79428 29.489 7.96668 29.6344 7.16627L31.1141 7.01973C31.1819 7.66709 31.4309 8.27704 31.8284 8.76885C32.2258 9.26067 32.753 9.61111 33.3397 9.77382C34.574 9.18167 35.9141 8.88747 37.2655 8.91182C37.458 8.91182 37.6425 8.93337 37.8309 8.9463C36.8721 7.11938 35.3527 5.70713 33.5322 4.95094C29.0891 3.09764 26.0936 5.9724 25.4079 6.9637C23.7558 9.34281 24.8144 11.5926 25.6204 13.0537L24.2971 14.3467C23.1446 13.2753 22.3713 11.8093 22.1076 10.1962C20.4114 10.7436 18.1337 10.6272 16.8585 8.28687L18.0615 7.39901C19.4129 8.48513 21.5583 8.39031 22.5768 7.0499C22.8195 6.45724 23.1264 5.89737 23.4911 5.38194C24.0701 4.56002 24.7688 3.84396 25.5603 3.26142C22.236 2.28737 17.5402 2.44684 14.7011 4.40357C13.9339 4.88241 13.3024 5.57662 12.8743 6.41181C12.4462 7.24704 12.2377 8.19171 12.271 9.14456C12.271 10.6832 13.3938 13.1141 14.9056 13.4933L14.0274 15.3251C13.0629 15.085 12.1872 14.5401 11.5131 13.7606L10.2099 15.5449L8.90663 14.8639L10.1818 11.278C9.97346 10.5815 9.86663 9.85458 9.86502 9.12301C9.86823 8.54379 9.92465 7.96634 10.0334 7.39901C6.02342 9.17904 4.04247 12.14 3.31665 14.8467C2.75926 16.9284 2.9758 18.8075 3.89009 19.8161C4.6159 20.6177 5.72668 20.8074 6.77329 20.7341L9.58031 18.3852L10.5026 19.2213L9.66853 22.1607C10.1056 23.6563 11.5372 24.4278 14.1477 23.8847C14.2831 22.6947 14.72 21.5677 15.4109 20.6264C15.9175 19.8428 16.5877 19.198 17.3678 18.7429L18.7392 14.7734L20.1106 14.7088L19.9623 17.9628C22.268 17.7085 24.8465 18.2128 27.2485 17.8249L27.6896 19.5489C24.1688 21.2987 20.5638 18.4455 17.2956 22.2081C16.1207 23.5615 16.5698 24.7381 17.2956 25.9233C18.3422 27.6172 20.3071 26.6 22.3162 25.9233C25.3598 24.9234 27.5693 24.1993 31.7357 24.5657C30.7412 22.5357 30.8375 20.0833 32.1688 17.3853L34.1297 18.2171C32.7542 21.6263 34.0415 23.6003 34.9317 24.4709C36.3071 25.8156 38.3763 26.2207 39.7437 25.4105C40.2674 25.0997 40.7178 24.6635 41.0598 24.136C41.4019 23.6084 41.6264 23.0033 41.7167 22.3676C41.8069 21.7819 41.8001 21.1836 41.6966 20.6005H41.7006Z"
                  fill="white"></path>
              </g>
              <defs>
                <clipPath id="clip0_230_1003">
                  <rect
                    width="44"
                    height="39"
                    fill="white"
                    transform="translate(0.448486)"></rect>
                </clipPath>
              </defs>
            </svg>
          </CardPlainIcon>
          <CardPlainIcon title="Persperation">
            <svg
              width="30"
              height="39"
              viewBox="0 0 30 42"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.0467 2L22.135 12.5C23.9199 14.4687 27.065 20.4388 27.558 23.1702C28.0509 25.9016 27.7987 28.733 26.8334 31.3063C25.8681 33.8795 24.233 36.079 22.135 37.6265C20.0369 39.174 17.5701 40 15.0467 40C12.5232 40 10.0565 39.174 7.9584 37.6265C5.86034 36.079 4.22525 33.8795 3.25995 31.3063C2.29465 28.733 2.0425 25.9016 2.53541 23.1702C3.02832 20.4388 6.17347 14.4687 7.9584 12.5L15.0467 2Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </CardPlainIcon>
        </div>
        <div class="measureline measure1"></div>
        <div class="measureline measure2"></div>
        <h3 class="measure-graphic-title">
          <span class="text-gradient">We Analyse to Determine...</span>
        </h3>
        <div class="measureline measure3"></div>
        <div class="measureline measure4"></div>
        <div class="measureline measure5"></div>
        <div class="measure-outputs">
          <CardPlainIcon title="Attention" />
          <CardPlainIcon title="Stress" />
          <CardPlainIcon title="Affect" />
          <CardPlainIcon title="Cognitive Load" />
        </div>
        <p style="margin-top:60px">
          Affecture allows game studios to understand the player experience
          better with accurate data on stress, attention, and emotional
          qualities throughout gameplay.<br /><br />We collect biometric data
          such as brain activity for ever second of the playtest to extract in
          depth insights.
        </p>
      </div>
    </section>
    <section class="how-we-measure">
      <div class="side-bar"></div>
      <div class="textContainer">
        <div class="hyphen"></div>
        <h2>How We Measure</h2>
      </div>
      <ul role="list" class="how-grid">
        <CardLargeIcon
          title="EEG Headset"
          body="The headset we use to measure brain activity is safe and non-invasive, equipped with flexible sensors to comfortably record electrical activity from the user’s scalp."
        >
          <svg
            width="178"
            height="168"
            viewBox="0 0 178 230"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M89.3754 0.309839V0.0620117L88.9361 0.185925L88.4975 0.062207V0.309643L53.6897 10.1272L33.2131 43.0678L28.3548 83.7011V87.7797L25.3136 84.7385L20.0138 89.5083V106.68L24.4818 126.339L33.1838 135.041V153.749L42.8146 174.324L38.0833 208.733L0.737061 227.841L1.53687 229.404L39.6982 209.88L44.3788 175.839L63.0726 190.794L87.1678 197.041L114.351 190.802L133.451 175.522L138.175 209.88L176.336 229.404L177.136 227.841L139.79 208.734L135.058 174.324L144.689 153.749V135.041L153.391 126.339L157.859 106.68V89.5085L152.559 84.7387L149.518 87.7799V83.7013L144.66 43.0679L124.183 10.1274L89.3754 0.309839ZM133.38 173.769L142.933 153.359V134.314L151.791 125.456L156.103 106.483V90.2906L152.623 87.1584L147.762 92.0192V84.271L119.844 68.8085L88.9353 66.1592L58.0292 68.8083L30.1108 84.2708V92.019L25.25 87.1582L21.7698 90.2904V106.483L26.0818 125.455L34.9398 134.313V153.359L44.4282 173.629L63.8766 189.188L87.1931 195.233L113.567 189.18L133.166 173.501L133.38 173.769ZM30.3083 82.1541L56.8684 67.4438L55.6215 36.6874L34.8687 44.0119L30.3083 82.1541ZM36.1276 41.7055L55.5155 34.8627L53.6147 13.574L36.1276 41.7055ZM55.1949 11.5272L57.2411 34.444L87.6194 29.4503V2.38179L55.1949 11.5272ZM87.6194 31.2298L57.3594 36.2041L58.6077 66.9963L87.6194 64.5095V31.2298ZM147.565 82.1543L121.004 67.444L122.251 36.6876L143.004 44.0121L147.565 82.1543ZM141.745 41.7057L122.357 34.8629L124.258 13.5742L141.745 41.7057ZM122.678 11.5274L120.632 34.4442L90.2534 29.4505V2.38199L122.678 11.5274ZM90.2534 31.23L120.514 36.2043L119.265 66.9965L90.2534 64.5097V31.23Z"
              fill="white"></path>
            <circle cx="88.5365" cy="65.0341" r="5.26797" fill="#D9D9D9"
            ></circle>
            <circle cx="120.144" cy="68.5453" r="5.26797" fill="#D9D9D9"
            ></circle>
            <circle cx="56.9287" cy="68.5453" r="5.26797" fill="#D9D9D9"
            ></circle>
            <circle cx="56.0507" cy="36.06" r="5.26797" fill="#D9D9D9"></circle>
            <circle cx="88.5365" cy="30.7914" r="5.26797" fill="#D9D9D9"
            ></circle>
            <circle cx="121.022" cy="36.06" r="5.26797" fill="#D9D9D9"></circle>
          </svg>
        </CardLargeIcon>
        <CardLargeIcon
          title="Bracelet Monitor"
          body="The bracelet we user is lightweight and placed on the tester’s arm, it is able to measures both heart activity and skin activity without interfering with the gameplay."
          ><svg
            width="179"
            height="168"
            viewBox="0 0 179 168"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="133"
              y="61"
              width="45"
              height="44"
              stroke="white"
              stroke-width="2"></rect>
            <rect
              x="1"
              y="61"
              width="45"
              height="44"
              stroke="white"
              stroke-width="2"></rect>
            <rect
              x="45.959"
              y="1.74219"
              width="86.6528"
              height="164.515"
              rx="13"
              stroke="white"
              stroke-width="2"></rect>
          </svg>
        </CardLargeIcon>
      </ul>
      <p style="text-align: center;">
        Want a chance to try these devices while paying new and innovative
        games?<br /><br /><b
          ><span class="text-gradient">Sign up to Playtest</span></b
        >
      </p>
      <form
        id="playtest-form"
        style="align-self: center; margin-top:-80px; padding:0px; display:flex; gap: 5px;"
      >
        <input
          class="form-input"
          type="email"
          id="fname"
          name="email"
          placeholder="Email"
        /><br /><br />
        <input
          id="playtest-submit"
          class="form-input submit"
          type="submit"
          value="Ok"
        />
        <div id="loading">
          <div class="lds-ellipsis">
            <div></div><div></div><div></div><div></div>
          </div>
        </div>
      </form>
      <div id="submitted">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20 6L9 17L4 12"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </svg>
      </div>
    </section>
    <section class="testimonials">
      <div class="side-bar"></div>
      <div class="textContainer">
        <div class="hyphen"></div>
        <h2>Creating Tailored Tests For Your Game</h2>
        <p style="margin-top: 20px">
          We will work together to create the ideal playtest for your game to
          get the most out of the data.
        </p>
      </div>
      <ul role="list" class="create-grid">
        <div class="create-item">
          <BasicCard
            title="A|B testing"
            body="Compare different versions of your game to determine the best design choices."
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M40 18H22C19.7909 18 18 19.7909 18 22V40C18 42.2091 19.7909 44 22 44H40C42.2091 44 44 42.2091 44 40V22C44 19.7909 42.2091 18 40 18Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M10 30H8C6.93913 30 5.92172 29.5786 5.17157 28.8284C4.42143 28.0783 4 27.0609 4 26V8C4 6.93913 4.42143 5.92172 5.17157 5.17157C5.92172 4.42143 6.93913 4 8 4H26C27.0609 4 28.0783 4.42143 28.8284 5.17157C29.5786 5.92172 30 6.93913 30 8V10"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </BasicCard>
        </div>
        <div class="create-item">
          <BasicCard
            title="First time user experience"
            body="Evaluate the experience from new users to identify potential friction points."
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M39.8586 42.2012V38.2012C39.8586 36.0794 39.0158 34.0446 37.5155 32.5443C36.0152 31.044 33.9804 30.2012 31.8586 30.2012H15.8586C13.7369 30.2012 11.7021 31.044 10.2018 32.5443C8.7015 34.0446 7.85864 36.0794 7.85864 38.2012V42.2012"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M23.8586 22.2012C28.2769 22.2012 31.8586 18.6194 31.8586 14.2012C31.8586 9.78289 28.2769 6.20117 23.8586 6.20117C19.4404 6.20117 15.8586 9.78289 15.8586 14.2012C15.8586 18.6194 19.4404 22.2012 23.8586 22.2012Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </BasicCard>
        </div>
        <div class="create-item">
          <BasicCard
            title="Competitor testing"
            body="Understand what competitors did right and wrong, to help your development."
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M38 10L10 38"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M13 18C15.7614 18 18 15.7614 18 13C18 10.2386 15.7614 8 13 8C10.2386 8 8 10.2386 8 13C8 15.7614 10.2386 18 13 18Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M35 40C37.7614 40 40 37.7614 40 35C40 32.2386 37.7614 30 35 30C32.2386 30 30 32.2386 30 35C30 37.7614 32.2386 40 35 40Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </BasicCard>
        </div>
        <div class="create-item">
          <BasicCard
            title="Concept tests"
            body="Test and refine your game to shape successful game development from the start."
          >
            <svg
              width="36"
              height="36"
              viewBox="0 0 48 48"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M26 4L6 28H24L22 44L42 20H24L26 4Z"
                stroke="white"
                stroke-width="4"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </BasicCard>
        </div>
      </ul>
    </section>
    <section class="test-with-us">
      <div class="side-bar-end"></div>
      <div class="textContainer">
        <!-- <div class="hyphen-black"></div> -->
        <h2>Start testing with us...</h2>
        <div>
          <p class="text">
            Want to learn more or find out how Affecture can help you test your
            game?
          </p>
          <DarkButton title="Request a Demo" />
        </div>
      </div>
      <ul role="list" class="test-grid">
        <CardNoIcon
          title="1. Onboarding"
          body="First, we align on game vision and research goals."
        />
        <CardNoIcon
          title="2. Playtest"
          body="Then, we will co-design the test, and implement the biometric technology while running the test."
        />
        <CardNoIcon
          title="3. Results"
          body="In the end, you will receive: \n- Data-driven insights for every second of gameplay\n- Comprehensive report with prioritized findings"
        />
      </ul>
    </section>
    <Footer />
  </main>
</Layout>

<style>
  #contact-container {
    display: none;
  }
  main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-width: 100%;
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .hero {
    height: 120vh;
    /* width: 100%;
		max-width: 100%; */
  }
  #heroContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    perspective: 1px;
    position: fixed;
    top: 0px;
  }

  .hero-item {
    transform: translateZ(0px);
  }

  .hero-button {
    margin: 30px;
  }

  .header-visuals {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-image {
    /* display: none; */
    /* position: absolute; */
    margin-top: 70vh;
    align-self: center;
    justify-self: center;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    /* top: 75%; */
    /* left: 50%; */
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .what-we-do {
    display: flex;
    padding: var(--padding);
    margin-top: var(--padding);
    gap: var(--padding);
    .textContainer {
      flex: 90%;
      position: sticky;
      position: -webkit-sticky;
      top: 130px;
      height: fit-content;
      margin-bottom: 155px;
      p {
        margin-top: 210px;
      }
    }
  }

  .link-card-grid {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .learn {
    display: flex;
    padding-left: var(--double-padding);
    gap: 100px;
    background-color: #f0f0f0;
    height: min-content;
    .textContainer {
      /* flex: calc(50%-100px); */
      width: 200%;
      padding-top: 80px;
      padding-bottom: var(--padding);
      color: #0c0c0c;
      height: fit-content;
      margin: 0px;
    }
  }

  .learn-text {
    margin-top: 300px;
    margin-bottom: 20px;
  }

  .learn-image {
    margin: 0px;
    flex: 1;
    /* flex: calc(50%-100px); */
    height: 100%;
    width: 100%;
    /* height: fill-container; */
    object-fit: cover;
  }

  .testimonials {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    margin-bottom: var(--padding);
    margin-left: var(--padding);
    gap: 60px;
    .textContainer {
      top: var(--padding);
      height: fit-content;
    }
  }

  .testimonials-grid {
    display: flex;
    gap: 80px;
    padding: 0px;
    margin: 0px;
  }

  .transition {
    padding: 50px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    padding-top: 214px;
    margin-left: var(--padding);
    /* mix-blend-mode: lighten; */
    h1 {
      /* opacity: 80%;*/
      /* mix-blend-mode: screen; */
      pointer-events: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .what-we-measure {
    display: flex;
    padding: var(--padding);
    gap: 80px;
    margin-left: var(--padding);
    .textContainer {
      height: fit-content;
    }
  }

  .measure-inputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  .measure-outputs {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
  }

  .measure-graphic-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .measureline {
    position: absolute;
    /* border-color: #4b4b4b7d; */
    border-width: 2px;
    /* border-style: solid; */
  }

  .measure1 {
    align-self: center;
    width: calc(100% - 692px);
    height: 50px;
    border-bottom: solid 4px #747474;
    border-left: solid 4px #747474;
    border-right: solid 4px #747474;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 175px;
  }

  .measure2 {
    align-self: center;
    height: 80px;
    border-left: solid 4px #747474;
    margin-left: calc((100% - 342px) / 2);
    margin-right: auto;
  }

  .measure3 {
    align-self: center;
    width: calc(100% - 602px);
    height: 50px;
    border-top: solid 4px #747474;
    border-left: solid 4px #747474;
    border-right: solid 4px #747474;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: 130px;
    margin-top: -50px;
  }
  .measure4 {
    align-self: center;
    width: calc(100% - 1162px);
    height: 50px;
    border-top: solid 4px #747474;
    border-left: solid 4px #747474;
    border-right: solid 4px #747474;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-left: 410px;
    margin-top: -50px;
  }

  .measure5 {
    align-self: center;
    height: 30px;
    border-left: solid 4px #747474;
    margin-left: calc((100% - 342px) / 2);
    margin-right: auto;
    margin-top: -80px;
  }

  .how-we-measure {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    margin-left: var(--padding);
    gap: 80px;
    .textContainer {
      top: var(--padding);
      height: fit-content;
    }
  }

  .how-grid {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .create-grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    padding: 0px;
    margin: 0px;
  }

  .create-item {
    padding: 0px;
    margin: 0px;
  }

  .test-with-us {
    display: flex;
    padding: var(--padding);
    padding-left: var(--double-padding);
    gap: var(--padding);
    background-color: #f0f0f0;
    .textContainer {
      /* position: sticky;
			position: -webkit-sticky; */
      /* top: 130px; */
      height: fit-content;
      flex-direction: column;
      display: flex;
      align-content: space-between;
      margin-bottom: 0;
      color: #000;
      .text {
        margin-top: 330px;
      }
    }
  }

  .test-grid {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr)); */
    gap: 50px;
    margin-bottom: 0;
  }

  .starter-line {
    border-top: 4px solid white;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    height: 200px;
    width: 100px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    top: -205px;
    left: 170px;
  }

  .connecting-line {
    border-top: 4px solid white;
    border-left: 4px solid white;
    height: 600px;
    width: calc(55%);
    border-top-left-radius: 40px;
    position: relative;
    top: -209px;
    align-self: flex-start;
    left: var(--padding);
  }

  .side-bar {
    position: absolute;
    height: 200%;
    border: 2px solid white;
    margin-left: var(--negative-padding);
    z-index: -1;
  }

  .side-bar-transition {
    position: absolute;
    height: 200%;
    border: 2px solid white;
    margin-top: -214px;
    margin-left: var(--negative-padding);
  }

  .side-bar-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 200vh;
    border: 2px solid white;
  }

  .side-bar-up {
    position: absolute;
    height: 100%;
    border: 2px solid white;
    margin-left: var(--negative-padding);
    margin-top: var(--negative-padding);
  }

  .side-bar-black {
    position: absolute;
    height: 100%;
    border: 2px solid black;
    margin-left: var(--negative-padding);
  }

  .side-bar-end {
    position: absolute;
    height: calc(var(--padding) + 68px);
    width: calc(var(--padding) * 0.7);
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    border-bottom-left-radius: 40px;
    margin-left: var(--negative-padding);
    margin-top: var(--negative-padding);
  }

  .hyphen {
    width: calc(var(--padding) / 2);
    border: 2px solid white;
    position: absolute;
    margin-top: 68px;
    margin-left: var(--negative-padding);
  }

  .hyphen-black {
    width: calc(var(--padding) / 2);
    border: 2px solid black;
    position: absolute;
    margin-top: 68px;
    margin-left: var(--negative-padding);
  }

  .form-input {
    border: 2px solid #bfc0df;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 45px;
  }

  .form-input:hover {
    border: 2px solid white;
  }

  .form-input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.5; /* Firefox */
  }

  .submit {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    align-items: center;
    transition: all 0.3s;
  }

  .submit:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  #submitted {
    display: none;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 260px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -75px;
  }

  #loading {
    display: none;
    border: 2px solid #bfc0df;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 47px;
    width: 20px;
  }

  .lds-ellipsis,
  .lds-ellipsis div {
    box-sizing: border-box;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    scale: 0.5;
    margin-top: -17px;
    margin-left: -29px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  @media only screen and (max-width: 850px) {
    /* For Phones: */
    main {
      width: 100%;
      max-width: 100%;
    }
    .heroContent {
      gap: 200px;
    }
    .what-we-do {
      display: flex;
      flex-direction: column;
      padding: var(--padding);
      margin-top: var(--padding);
      .textContainer {
        flex: 90%;
        position: relative;
        top: 30px;
        margin-bottom: 40px;
        p {
          margin-top: 20px;
        }
      }
    }

    .link-card-grid {
      gap: 40px;
      margin: 0;
      padding: 0;
    }

    .testimonials {
      margin-left: 0;
    }
    .transition {
      padding: 0;
      padding-top: var(--double-padding);
      padding-bottom: var(--padding);
      margin-left: 0;
      h1 {
        line-height: 130%;
      }
    }

    .learn {
      max-width: 100%;
      flex-direction: column;
      height: min-content;
      margin-left: 0;
      padding-left: 0;
      .textContainer {
        width: calc(100% - var(--double-padding));
        padding-left: var(--padding);
        padding-right: var(--padding);
        padding-top: 80px;
        padding-bottom: var(--padding);
      }
    }

    .learn-text {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .learn-image {
      margin: 0;
      padding: 0;
    }

    .testimonials-grid {
      flex-direction: column;
    }

    .what-we-measure {
      margin-left: 0;
    }

    .how-we-measure {
      margin-left: 0;
    }

    .measure-inputs {
      flex-direction: column;
    }

    .measure-outputs {
      flex-direction: column;
    }

    .create-grid {
      display: grid;
      grid-template-columns: auto;
      row-gap: var(--padding);
      padding: 0px;
      margin-bottom: var(--padding);
    }
    .test-with-us {
      margin-left: 0;
      padding: var(--padding);
      .textContainer {
        width: calc(100% - var(--double-padding));
        margin-bottom: var(--padding);
        .text {
          margin-top: 30px;
        }
      }
    }
    .test-grid {
      display: none;
    }

    .starter-line {
      display: none;
    }

    .connecting-line {
      display: none;
    }

    .side-bar {
      display: none;
    }

    .side-bar-transition {
      display: none;
    }

    .side-bar-sticky {
      display: none;
    }

    .side-bar-black {
      display: none;
    }

    .side-bar-end {
      display: none;
    }

    .hyphen {
      display: none;
    }

    .hyphen-black {
      display: none;
    }
  }
  @media only screen and (max-width: 1300px) {
    .measure1,
    .measure2,
    .measure3,
    .measure4,
    .measure5 {
      display: none;
    }
    .measure-graphic-title {
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
</style>

<script>
  window.onload = function () {
    setTimeout(function () {
      var x = document.getElementById("link-card-play");
      // x.style.display = "flex";
      x.classList.toggle("fade");
    }, 2000);
    const header = document.getElementById("heroContent");
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    if (scrollTop > 600) {
      header.style.display = "none";
    } else {
      header.style.display = "flex";
    }
  };
  const tgt = document.querySelector("#popUpClose");
  tgt.addEventListener("click", () => {
    // console.log("Hello, on client");
    var x = document.getElementById("link-card-play");
    x.classList.toggle("fade");
  });

  var y = document.getElementById("contact-container");

  const ctct = document.querySelectorAll(".button");
  ctct.forEach((button) => {
    button.addEventListener("click", () => {
      // console.log("Hello, on client");
      y.style.display = "flex";
      document.body.style.overflow = "hidden";
    });
  });

  const ctctClose = document.querySelector("#contactPopUpClose");
  ctctClose.addEventListener("click", () => {
    // console.log("Hello, on client");
    y.style.display = "none";
    document.body.style.overflow = "scroll";
  });

  const ctctClose2 = document.querySelector("#contact-background");
  ctctClose2.addEventListener("click", () => {
    // console.log("Hello, on client");
    y.style.display = "none";
    document.body.style.overflow = "scroll";
  });

  window.addEventListener("scroll", function () {
    const header = document.getElementById("heroContent");
    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
    let num = 1 - scrollTop / 400;
    let scale = 1 - scrollTop / 4000;
    // console.log(scrollTop);
    header.style.opacity = num.toString();
    header.style.scale = scale.toString();
    if (scrollTop > 600) {
      header.style.display = "none";
    } else {
      header.style.display = "flex";
    }
    // header.style.top = "-200";
  });

  const form = document.querySelector("#playtest-form");
  const submitButton = document.querySelector("#playtest-submit");
  const loadButton = document.querySelector("#loading");
  const submittedButton = document.querySelector("#submitted");
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbykLTkfztLiGo4S0EaetCsiimdOlilZiP19ZjDwUN865hLAN4QmeMF28OKodlQ4lFPzxQ/exec";

  form.addEventListener("submit", (e) => {
    submitButton.disabled = true;
    loadButton.style.display = "block";
    submitButton.style.display = "none";
    e.preventDefault();
    let requestBody = new FormData(form);
    fetch(scriptURL, { method: "POST", body: requestBody })
      .then((response) => {
        // alert('Success!', response)
        form.style.display = "none";
        submittedButton.style.display = "flex";
      })
      .catch((error) => {
        alert("Error!", error.message);
        submitButton.disabled = false;
        form.style.display = "flex";
        submittedButton.style.display = "none";
      });
  });
</script>
