---
import { getImage } from "astro:assets";
import Container from "@components/containers/container.astro";
import FullScreen from "@components/containers/fullscreen.astro";
import FullWidth from "@components/containers/fullwidth.astro";
import Navigation from "@components/navigation.astro";
import WhatWeDo from "@components/whatwedo.astro";
import FeatureGallery from "@components/feature/gallery.astro";
import HighlightText from "@components/typography/highlight.astro";
import Html from "@layouts/html.astro";
import Contact from "@components/contact.astro";
import OfferingGallery from "@components/offering/gallery.astro";
import bgImage from "@assets/background.png";
const optimizedBg = await getImage({ src: bgImage, format: "webp" });
---

<Html>
  <Navigation />
  <FullScreen
    class="pt-52 min-h-fit md:max-h-[80vh] md:min-h-[30vh] p-2 py-20 md:p-36 text-center flex flex-col gap-6 justify-center bg-center bg-cover"
    style={`background-image: url(${optimizedBg.src});`}
  >
    <p
      class="max-w-4xl
    mx-auto
    text-4xl
    md:text-6xl
    [text-wrap:balance]
    leading-relaxed"
    >
      Games user research with biosignals and AI to deliver deeper and faster
      results
    </p>
    <p
      class="max-w-3xl mx-auto text-xl md:text-3xl [text-wrap:balance] leading-relaxed"
    >
      Affecture allows you to understand the player experience with accurate
      data on stress, attention, and emotional qualities of gameplay
    </p>
  </FullScreen>

  <Container id="whatwedo" class="mt-12 mb-12">
    <h1 class="text-4xl text-center md:text-justify mb-8">What we do</h1>
    <section class="px-8 md:px-20">
      <WhatWeDo />
    </section>
  </Container>

  <Container id="features" class="mb-12">
    <FeatureGallery />
  </Container>

  <FullWidth
    class="py-10 md:py-10 bg-center bg-cover"
    style={`background-image: url(${optimizedBg.src});`}
  >
    <Container class="py-8">
      <h1 class="text-4xl md:text-6xl text-center [text-wrap:balance] mb-4">
        How to test with us
      </h1>
    </Container>
  </FullWidth>
  <Container id="offerings" class="mb-12 py-4">
    <OfferingGallery />
  </Container>
  <FullWidth id="contact" class="min-h-[30vh]">
    <Container class="py-8">
      <h1 class="text-4xl text-center">Get in touch</h1>
      <h2 class="text-2xl text-center">
        Want to <HighlightText>know more</HighlightText> or <HighlightText>
          order our services
        </HighlightText>?
      </h2>
      <section class="py-12 px-8 md:px-20 text-center">
        <Contact />
      </section>
    </Container>
  </FullWidth>
</Html>
