---
interface Props {
  title: string;
  body: string;
}

const { title, body } = Astro.props;
---

<li id="link-card-play">
  <h3>
    {title}
  </h3>
  <p>
    {body}
  </p>
  <div class="startup">
    <form id="playtest-popup-form" style="display:flex; gap: 5px;">
      <input
        class="form-input"
        type="email"
        id="fname"
        name="email"
        placeholder="Email"
      /><br /><br />
      <input
        id="playtest-popup-submit"
        class="form-input submit"
        type="submit"
        value="Ok"
      />
      <div id="popup-loading">
        <div class="lds-ellipsis">
          <div></div><div></div><div></div><div></div>
        </div>
      </div>
    </form>
  </div>
  <div id="popup-submitted">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M20 6L9 17L4 12"
        stroke="black"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
  <div id="popUpClose">
    <svg
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M18 6L6 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M6 6L18 18"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
</li>
<style>
  #link-card-play {
    list-style: none;
    display: flex;
    opacity: 0;
    flex-direction: column;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    background-image: none;
    height: fit-content;
    border-radius: 20px;
    background-position: 100%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    border-style: solid;
    border-width: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    background:
      linear-gradient(rgba(29, 31, 35, 0.5), rgba(29, 31, 35, 0.5)) padding-box,
      linear-gradient(to bottom right, #6666664a, #00000041) border-box;
    border: 2px solid transparent;
    background-color: #1e1e1e;
    width: fit-content;
    margin: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0, 100%, 0);
  }
  #link-card-play.fade {
    opacity: 1;
    pointer-events: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    transform: translate3d(0, 0, 0);
  }
  h3 {
    margin: 0;
    margin-top: auto;
    font-size: 20px;
    font-weight: 600;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
  }
  .form-input {
    border: 2px solid #bfc0df;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 45px;
    width: 100%;
  }

  .form-input:hover {
    border: 2px solid white;
  }

  .form-input::placeholder {
    color: rgb(255, 255, 255);
    opacity: 0.5; /* Firefox */
  }

  .submit {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    align-items: center;
    transition: all 0.3s;
    width: fit-content;
  }

  .submit:hover {
    border: 2px solid white;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  #popUpClose {
    position: absolute;
    right: 18px;
    top: 15px;
  }
  #popUpClose:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .startup {
    display: block;
  }

  #popup-submitted {
    display: none;
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  #popup-loading {
    display: none;
    border: 2px solid #bfc0df;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    height: 47px;
    width: 20px;
  }

  .lds-ellipsis,
  .lds-ellipsis div {
    box-sizing: border-box;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    scale: 0.5;
    margin-top: -17px;
    margin-left: -28px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

  @media only screen and (max-width: 850px) {
    #link-card-play {
      left: 0;
      margin: 0;
      width: 90%;
      max-width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-radius: 0;
      /* padding: var(--padding) */
    }
  }
</style>
<script>
  const form = document.querySelector(
    "#playtest-popup-form",
  ) as HTMLFormElement;
  const submitButton = document.querySelector(
    "#playtest-popup-submit",
  ) as HTMLButtonElement;
  const loadButton = document.querySelector(
    "#popup-loading",
  ) as HTMLButtonElement;
  const submittedButton = document.querySelector(
    "#popup-submitted",
  ) as HTMLButtonElement;
  const scriptURL =
    "https://script.google.com/macros/s/AKfycbwWeKdvWciQRqE4xUEqQO39Rfa7R3bUMKB4JBucsshHwAy0LWXrhRGEi-LrUP9iAwN1/exec";

  form.addEventListener("submit", (e) => {
    submitButton.disabled = true;
    loadButton.style.display = "block";
    submitButton.style.display = "none";
    e.preventDefault();
    let requestBody = new FormData(form);
    fetch(scriptURL, { method: "POST", body: requestBody })
      .then((_response) => {
        // alert('Success!', response)
        form.style.display = "none";
        submittedButton.style.display = "flex";
        setTimeout(function () {
          var x = document.getElementById("link-card-play");
          x.classList.toggle("fade");
        }, 3000);
      })
      .catch((error) => {
        alert("Error!" + error.message);
        submitButton.disabled = false;
        form.style.display = "flex";
        submittedButton.style.display = "none";
      });
  });
</script>
