---
import config from "@config";
---

<section class="inline-block">
  <a
    href={[config.url, config.base, "/contact"].join("")}
    class="text-3xl text-purple bg-white rounded-lg p-4 inline-block hover:text-white hover:bg-purple transition-all"
    >Contact us</a
  >
  <p class="text-xs text-slate-500">No commitment contact</p>
</section>
