<section class="grid md:grid-cols-2 gap-2 md:gap-4 p-2">
  <article class="prose prose-invert prose-sm prose-p:text-lg">
    <header>
      <h1>Validate your vision:</h1>
    </header>
    <p>
      Our biometric insights help you better understand players' behavior and
      make informed design choices.
    </p>
  </article>
  <article class="prose prose-invert prose-sm prose-p:text-lg">
    <header>
      <h1>Confident design decisions:</h1>
    </header>
    <p>
      Our biometric insights help you better understand players' behavior and
      make informed design choices.
    </p>
  </article>
  <article class="prose prose-invert prose-sm prose-p:text-lg">
    <header>
      <h1>De-risk and reduce rework:</h1>
    </header>
    <p>
      Our studies help de-risk game development by identifying challenges early
      and minimizing unnecessary work.
    </p>
  </article>
  <article class="prose prose-invert prose-sm prose-p:text-lg">
    <header>
      <h1>More engaging games:</h1>
    </header>
    <p>
      Our biometric insights help ensure that your creative vision aligns with
      the real player experience.
    </p>
  </article>
</section>
