---
import { type CollectionEntry } from "astro:content";

interface Props {
  offering: CollectionEntry<"offering">;
}
const { data, render } = Astro.props.offering;
const { Content } = await render();
---

<article
  class="flex flex-col bg-slate-200 bg-opacity-5 hover:bg-opacity-20 transition-all p-4 md:p-8 rounded-3xl justify-after min-h-[20em]"
>
  <header
    class="text-center p-2 align-self-start font-bold flex justify-after gap-1"
  >
    <h1 class="text-3xl order-2">{data.title}</h1>
    <h2 class="invisible md:visible text-3xl order-1">{data.order}:</h2>
  </header>
  <section class="text-left px-0 md:px-2 prose prose-invert">
    <Content />
  </section>
</article>
