---
import { getCollection } from "astro:content";
import Card from "@components/person/card.astro";

const people = await getCollection("person");
---

<section class="grid md:grid-cols-3 gap-4 md:gap-12 p-2">
  {people.map((p) => <Card person={p} />)}
</section>
