---
import config from "@config";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"body"> {
  title?: string;
}

const baseUrl = [config.url, config.base].join("");
const { title, class: className, ...bodyAttributes } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <base href={baseUrl} />
    <title>
      {title ? `${title}${config.title.suffix}` : config.title.whenMissing}
    </title>
    <slot name="htmlHead" />
  </head>
  <body
    class="w-screen min-h-screen bg-slate-900 text-white"
    class:list={[className]}
    {...bodyAttributes}
  >
    <slot>
      <p>
        If you see this text, then this layout was used without adding content.
      </p>
    </slot>
  </body>
  <slot name="afterBody" />
</html>
